<%- include("partials/header") -%>
<h1 class="center-text padding-top" value="">Blog</h1>
<div class="container-fluid">
  <div class="media">
    <img src="imgs/blog/blogProfileImage.jpg" class="mr-3" alt="profileImage">
    <div class="media-body">
      <h2 class="mt-0">Finding Purpose:</h2>
      <p><em>7/13/2020</em></p>
      <p>When my dad passed away, I was 21, a naturally ambitious young woman. His passing marked a huge shift in my life because he was my best friend. That kind of feeling can’t help making you wonder what is this life? Why am I here? Ten years later, I wonder if I am living my best life or being my best self. This blog or journal...whatever you want to call it, is my adventure on finding out and I hope I can help you too.</p>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
