
/* navbar */
.navbar {
  padding: 0 0 .10rem;
}

.navbar-brand {
  color: #fff;
  font-size: 2.0rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: #c7c7c7;
  /* font-family: "Montserrat-light"; */
}

.black-bg {
    background-color: #231F20;
}

.text-white {
  color: #fff;
}

.center-text {
  text-align: center;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.welcomeParagraph {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

.fontMontserret {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

@media(max-width: 544px) {
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
  }

  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
  }
  h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
  }
  .welcomeParagraph {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0rem;
  }
  .fontMontserret {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
  }
}

.padding-top {
  padding-top: 3rem;
}

.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}

.container-fluid {
  padding: 7% 15%;
}

.list-styling {
  text-align: center;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}
 /* Carousel */
 .site-info-image {
    width: auto;
    height: 500px;
    max-height: 500px;
    margin: auto;
    display: block;
 }

 /* Social Media */

 .social-icon {
  margin: 20px 10px;
  font-size: 2rem;
}

.float_l {
  float: left;
  margin: 10px;
}

.float_r {
  float: right;
  margin: 10px
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.recipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
